*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: 'Fira Sans', sans-serif;*/

}
div.main{
	width: 560px;
	margin: 100px auto 0px auto;
}
h2{
	text-align: left;
	padding: 20px;
	font-family: sans-serif bold;
}

div.flag{
	
	margin: 10px auto 0px auto;
}



div.gallery {
  margin: 2px;
  border: 5x solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}